src/main/mule/utility-template-api-main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
						http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
						http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
						http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">



	<flow name="utility-template-api-main">
		<http:listener config-ref="main_http-listener" path="/api/${api.versionId}/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="config_api-kit"/>
		<error-handler ref="api-kit-error" />
	</flow>
	
	
	
	<flow name="put:\templates\(id):application\json:config_api-kit">
		<ee:transform>
			<ee:variables>
				<ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
	
	
	<flow name="delete:\templates\(id):application\json:config_api-kit">
		<ee:transform>
			<ee:variables>
				<ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiName: "domain-exp-customer",
  version: "1.0.0-SNAPSHOT",
  correlationId: "97a9ef90-b4f0-11ec-9f6f-88e9fe7dffb0",
  timestamp: "2022-04-05T15:56:37.609+01:00",
  errorMessage: "HTTP POST on resource 'http://domain-proc-customer.us-e2.cloudhub.io/api/customer' failed: bad request (400).",
  errorDetails: {
    errorCode: 400,
    errorMessage: "Invalid request message",
    additionalInfo: "domain-sys-customer-1.0.0-SNAPSHOT"
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
	
	
	<flow name="patch:\templates\(id):application\json:config_api-kit">
		<ee:transform>
			<ee:variables>
				<ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
	
	
	<flow name="get:\templates:config_api-kit">
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
	
	
	<flow name="post:\templates:application\json:config_api-kit">
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
